/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  min-height: 100vh;
  text-align: center;
  width: 100%;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  color: #353535;
  background: rgb(64,115,147);
  background: linear-gradient(0deg, rgba(64,115,147,1) 0%, rgba(161,164,187,1) 50%, rgba(233,208,201,1) 100%);
}

.intro {
  padding: 100px 50px 0;
  display: inline-block;
}

.intro > *  {
  max-width: 500px;
}

.intro > h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 50px;
}

.intro > p {
  line-height: 1.5;
  font-size: 24px;
}

.word {
  padding: 50px 10px;
  text-align: center;
  display: inline-block;
}

input {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: white;
  border-width: thick;
  width: 20%;
  overflow: visible;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  color: #353535;
  text-transform: uppercase;
  transition: .3s background ease;
}

input:focus {
  background: rgba(255,255,255, .3);
  outline: 0;
}

.submit {
  display: inline-block;
  width: 100%;
  margin: 100px 0;
}

.submit-btn {
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(64,115,147);
}

.hide {
  display: none !important;
}

.bold {
  font-weight: 900;
}

.brand {
  font-weight: 900;
  font-style: italic;
}

#success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-title {
  margin: 100px 20px 0;
  max-width: 500px;
}

.success-title > span {
  opacity: 0;
  animation: fadeIn 1s ease 2s;
}

.success-title > span:nth-child(2) {
  animation-delay: 3s;
}

.success-title > span:nth-child(3) {
  animation-delay: 4s;
  display: block;
}

.success-title > span:nth-child(4) {
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.success-title > span:nth-child(5) {
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.success-title > span:nth-child(6) {
  animation-delay: 8s;
  animation-fill-mode: forwards;
}

.timeline {
  width: 100%;
  opacity: 0;
  animation: fadeIn 1s ease 10s;
  animation-fill-mode: forwards;
  position: relative;
}
.wave {
  position: relative;
}
.wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, rgba(64,115,147,1) 13px);
}
.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, rgba(64,115,147,1) 12px, transparent 13px);
}

.wave:nth-of-type(even)::before {
  background-image:
  radial-gradient(circle at 10px -5px, transparent 12px, rgba(233,208,201,1) 13px);
}
.wave:nth-of-type(even)::after {
  background-image:
  radial-gradient(circle at 10px 15px, rgba(233,208,201,1) 12px, transparent 13px);
}

.ladies {
  position: relative;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cruise-directors {
  height: 80%;
  animation: 2s popup cubic-bezier(0.68, -0.55, 0.27, 1.55);
  display: inline-block;
}

@keyframes popup {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.rellax {
  width: 80%;
  display: inline-block;
}

.red {
  border-color: red;
}

.section {
  position: relative;
  height: 100vh;
  background: rgba(64,115,147,1);
  overflow: hidden;
}

.section:nth-of-type(even) {
  background: rgba(233,208,201,1);
}
.section.size-1-5 {
  height: 150vh;
}

.section.size-2 {
  height: 200vh;
}

.section.size-2-2 {
  height: 220vh;
}

.section.size-2-5 {
  height: 250vh;
}

.section.size-3 {
  height: 300vh;
}

.section.size-4 {
  height: 400vh;
}

.section.size-5 {
  height: 500vh;
}

.section.size-6 {
  height: 600vh;
}

.section.size-7 {
  height: 700vh;
}

.section p {
  font-size: 36px;
  background: rgba(255,255,255,.75);
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
}

.parallax-text {
  z-index: 2;
  position: relative;
}

.section img {
  height: 50vh;
  position: absolute;
  display: inline-block;
}

.section img:first-of-type {
  left: 5%;
  top: 10vh;
}

.section img:nth-of-type(2) {
  right: 5%;
  top: 30vh;
}

.section img:nth-of-type(3) {
  left: 0;
  top: 50vh;
}

.section img:nth-of-type(4) {
  right: 0;
  top: 70vh;
}
.section img:nth-of-type(5) {
  left: 5%;
  top: 90vh;
}
.section img:nth-of-type(6) {
  right: 5%;
  top: 110vh;
}
.section img:nth-of-type(7) {
  left: 0;
  top: 130vh;
}
.section img:nth-of-type(8) {
  right: 0;
  top: 150vh;
}
.section img:nth-of-type(9) {
  left: 5%;
  top: 170vh;
}
.section img:nth-of-type(10) {
  right: 5%;
  top: 190vh;
}
.section img:nth-of-type(11) {
  left: 0;
  top: 210vh;
}
.section img:nth-of-type(12) {
  right: 0;
  top: 230vh;
}
.section img:nth-of-type(13) {
  left: 5%;
  top: 250vh;
}
.section img:nth-of-type(14) {
  right: 5%;
  top: 270vh;
}
.section img:nth-of-type(15) {
  left: 0;
  top: 290vh;
}

.section img.left-15 {
  left: 15%;
}
.section img.right-23 {
  right: 23%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width:800px) {
  .section {
    height: auto !important;
  }
  .section img {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    width: 100%;
    height: unset;
  }
}